.App-Product-Container {
    display: flex;
    justify-content: center;
    background-color: rebeccapurple;
}

.App-Product-Box {
    margin: 10px;
    padding: 10px;
    background-color: yellowgreen;
}